<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div style=" display: flex; ">
    <H1>about</H1>
    <h5> The Indian Army is operationally and geographically divided into seven commands,
      <br> with the basic field formation being a division. Below the division level are permanent regiments
     <br>   that are responsible for their own recruiting and training. The army is an all-volunteer force and comprises more than 80% of the country's active defence personnel.
       <br>  It is the largest standing army in the world,[8] with 1,237,117[9][10] active troops and 960,000 reserve troops.
       <br>  The army has embarked on an infantry modernisation program known as Futuristic Infantry 
     <br> Soldier As a System (F-INSAS), and is also upgrading 
    <br>  and acquiring new assets for its armoured, artillery, and aviation branches.[13][14][15]</h5>
  
  </div>
</body>
  </html>