<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #333;

  border-bottom: 2px solid #007BFF;
  
}

h2 {
  color: #444;
  
  border-bottom: 2px solid #28a745;
  
}</style>
<body>
    <div style="align-self: flex-start;">
      <h1>TO DO SITE </h1>
      <h2>ATHARV PANT</h2>

      
    </div>

    <%- body %>
    
</body>
</html>